.custom-title {
    font-weight: bold;
    color: #344767;
    text-align: center;
}
.form-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    margin-bottom: 5px;
}

.form-control-user:focus {
    border-color: rgb(4, 163, 86);
    box-shadow: 0 0 0 2px rgb(4, 163, 86);
}



